# Python
__pycache__/
*.py[cod]
*$py.class
*.so
.Python
venv/
env/
ENV/
.venv

# Environment variables
.env

# IDE
.vscode/
.idea/
.cursor/rules
*.swp
*.swo
*~

# Database
postgres/
*.db
*.sqlite

# Logs
*.log

vpn.md