services:
  postgres:
    image: postgres:16
    container_name: postgres
    restart: unless-stopped
    env_file:
      - .env
    volumes:
      - ./postgres:/var/lib/postgresql/data
    ports:
      - "5432:5432"

  app:
    build: .
    container_name: questions_bot
    restart: unless-stopped
    depends_on:
      - postgres
    command: python -m app.bot
    env_file:
      - .env
    environment:
      DB_HOST: postgres
    volumes:
      - ./app:/app/app
      - ./.env:/app/.env
